<div class="row">
	<article class="col-md-8">
	<div class="panel panel-default">
		<div class="panel-heading">Nieuwe e-mails</div>
		<div class="panel-body" ng-show="!emails.length">
			Geen ongelezen e-mails
		</div>
		<ul class="list-group" ng-show="emails.length">
			<li class="list-group-item" ng-repeat="email in emails">{{email.title}}</li>
		</ul>
	</div>
	</article>
	<article class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">Aankomende afspraken</div>
		<div class="panel-body" ng-show="!appointments.length">
			Geen aankomende afspraken
		</div>
		<ul class="list-group" ng-show="appointments.length">
	    <li class="list-group-item" ng-repeat="appointment in appointments">{{appointment.title}}</li>
	  </ul>
	</div>
</div>
