<div class="email-module">

	<aside class="sidebar">
		<a class="btn btn-custom btn-block"><strong>New E-mail</strong></a>
		<span class="header">Folders</span>
		<ul>
			<li>Inbox</li>
			<li>Sent</li>
		</ul>
		<hr class="divider" />
		<span class="header">Some more folders</span>
		<ul>
			<li>Folder 1</li>
			<li>Folder 2</li>
		</ul>
		<hr class="divider" />
		<ul>
			<li>Divided folders</li>
			<li>More divided folders</li>
		</ul>
	</aside>
	<section class="email-content">
		<table class="table table-striped table-hover">
			<thead>
			<tr>
				<th><input type="checkbox" ng-model="selectAll" ng-change="selectAllChange()"></th>
				<th class="search" colspan="2">
				<div class="input-group">
		      <input type="text" class="form-control" placeholder="Search through e-mail">
		      <div class="input-group-btn">
		        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="fa fa-search"></button>
		      </div>
		    </div>
				</th>
				<th></th><th>
				<div class="btn-group">
				  <button type="button" class="btn btn-default"><span class="fa flaticon-left66" /></button>
				  <button type="button" class="btn btn-default"><span class="fa flaticon-six15" /></button>
				</div>

				</th></tr>
			</thead>
			<tbody>
			<tr ng-repeat="email in emails" ng-class="{unread: email.unread}">
				<td><input type="checkbox" ng-model="email.selected" ng-change="selectedChange(email)"></td>
				<td>{{email.subject}}</td>
				<td>{{email.summary}}</td>
				<td>
					<div class="btn-group attachment-icon" ng-show="email.attachments">
		        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-paperclip"></span></button>
		        <ul class="dropdown-menu" role="menu">
		          <li ng-repeat="attachment in email.attachments"><a href="" ng-click="downloadAttachment(attachment)">{{attachment.filename}}</a></li>
		        </ul>
	      	</div>
				</td>
				<td>13:32</td>
			</tr>
		</tbody>
		</table>
	</section>
</div>
