@import 'variables.less';
.login-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: @dark;
  background: url('../stardust.png') repeat;
}
.login-container {
  padding: 15px;
  margin-top: 40px;
  background-color: white;
  box-shadow: 0px 0px 15px 5px rgba(50, 50, 50, 1);
}

.login-container-holder.left {
  left: 15px;
}
.login-container-holder.right {
  left: -15px;
}
.login-header {
  text-align: center;
}
.login-logo {
  font-size: 50px;
  font-family: Raleway;
  text-transform: uppercase;
  color: @light;
}
