@import 'variables.less';
.menu-padding {
    padding-top: 50px;
}
body.tinymenu {
  .menu-padding {
    padding-top: 30px;
  }
  .navbar-custom {
    min-height: 30px;
    .navbar-brand {
      padding: 5px;
      font-size: 18px;
      height: 30px;
      padding-right: 20px;
    }
    a {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    a.iconized {
      .text {
        display: inline;
      }
    }
    li.menu-shower {
      display: block;
    }
    li.menu-hider {
      display: none;
    }
  }
}

.navbar-custom {
  background: @dark;
  font-family: Raleway;
  font-size: 11px;
  .navbar-brand {
    color: @light;
  }
  li {
    a.iconized {
      padding: 4px 10px 3px 10px !important;
      .fa {
        font-size: 1.5em;
      }
      .text {
        display: block;
        .menufont();
      }
    }
    a {
      color: @light;
      text-align: center;
    }
    a:hover {
      background: @light;
      color: @dark;
    }
    a.active {
      background: @highlight;
      color: @light;
      cursor: default;
    }
    a.active:hover {
      background: @highlight;
      color: @light;
    }
  }
  li.active {
    background: none;
  }
  li.menu-shower {
    display: none;
  }
  li.menu-hider {
    display: block;
  }
}
