@dark: #474544;
@light: #bfbfbf;
@highlight: #89292a;
@highlighText: #ffffff;
@sidebar: #F9F9F9;
@contentPadding: 10px;
.menufont {
  font-family: 'Raleway';
  font-weight: bold;
  text-transform: uppercase;
}
