@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(../fonts/Raleway-Light.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.form-control,
.input-group-addon {
  border-radius: 0;
}
.menufont {
  font-family: 'Raleway';
  font-weight: bold;
  text-transform: uppercase;
}
.menu-padding {
  padding-top: 50px;
}
body.tinymenu .menu-padding {
  padding-top: 30px;
}
body.tinymenu .navbar-custom {
  min-height: 30px;
}
body.tinymenu .navbar-custom .navbar-brand {
  padding: 5px;
  font-size: 18px;
  height: 30px;
  padding-right: 20px;
}
body.tinymenu .navbar-custom a {
  padding-top: 5px;
  padding-bottom: 5px;
}
body.tinymenu .navbar-custom a.iconized .text {
  display: inline;
}
body.tinymenu .navbar-custom li.menu-shower {
  display: block;
}
body.tinymenu .navbar-custom li.menu-hider {
  display: none;
}
.navbar-custom {
  background: #474544;
  font-family: Raleway;
  font-size: 11px;
}
.navbar-custom .navbar-brand {
  color: #bfbfbf;
}
.navbar-custom li a.iconized {
  padding: 4px 10px 3px 10px !important;
}
.navbar-custom li a.iconized .fa {
  font-size: 1.5em;
}
.navbar-custom li a.iconized .text {
  display: block;
  font-family: 'Raleway';
  font-weight: bold;
  text-transform: uppercase;
}
.navbar-custom li a {
  color: #bfbfbf;
  text-align: center;
}
.navbar-custom li a:hover {
  background: #bfbfbf;
  color: #474544;
}
.navbar-custom li a.active {
  background: #89292a;
  color: #bfbfbf;
  cursor: default;
}
.navbar-custom li a.active:hover {
  background: #89292a;
  color: #bfbfbf;
}
.navbar-custom li.active {
  background: none;
}
.navbar-custom li.menu-shower {
  display: none;
}
.navbar-custom li.menu-hider {
  display: block;
}
.email-module .sidebar {
  position: fixed;
  min-height: 100%;
  background-color: #f9f9f9;
  width: 200px;
  padding: 10px;
  border-right: 1px solid #bfbfbf;
}
.email-module .sidebar .header {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}
.email-module .sidebar ul {
  list-style: none;
  padding: 0px;
  padding-left: 10px;
  margin: 0px;
}
.email-module .sidebar hr.divider {
  margin: 5px 0px;
}
.email-module .email-content {
  margin-left: 200px;
}
.email-module .email-content .table th.search input {
  font-weight: normal;
  border-radius: 0px;
  height: 28px;
}
.email-module .email-content .table th.search button {
  border-radius: 0px;
  font-size: 13px;
  padding: 4px 6px;
}
.email-module .email-content .table tr.unread {
  font-weight: bold;
}
.email-module .email-content .table tr {
  cursor: pointer;
}
.email-module .email-content .table tr td .attachment-icon .dropdown-menu {
  right: 0;
  left: auto;
}
.content-wrapper {
  min-height: 100%;
}
.btn-custom {
  background-color: #89292a;
  color: #ffffff;
  border-radius: 0px;
}
.content {
  padding-top: 15px;
}
.login-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: #474544;
  background: url('../stardust.png') repeat;
}
.login-container {
  padding: 15px;
  margin-top: 40px;
  background-color: white;
  box-shadow: 0px 0px 15px 5px #323232;
}
.login-container-holder.left {
  left: 15px;
}
.login-container-holder.right {
  left: -15px;
}
.login-header {
  text-align: center;
}
.login-logo {
  font-size: 50px;
  font-family: Raleway;
  text-transform: uppercase;
  color: #bfbfbf;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
/*html {
	height: 100%;
	position: relative;
}
body {
	min-height: 100%;
	position: relative;
}

.login-form {
	padding: 5px;
	width: 300px;
	margin: 0 auto;
	border-radius: 7px;
	background-color: white;
	margin-top: 200px;
}

.login-form h2 {
	margin-top: 0px;
}
#header {
	position: relative;
	height: 50px;
	z-index: 100;
	background-color: #F3F3F3;
	background-image: linear-gradient(to bottom, #F3F3F3, #E2E2E2);
	line-height: 50px;
}

#header .logo {
	height: 16px;
	margin-left: 15px;
	margin-right: 7px;
}
#header .brand-name {
	font-size: 15px;
	font-height: 14px;
	font-weight: bold;
}


#left-panel {
	z-index: 90;
	padding-top: 49px;
	width: 220px;
	position: absolute;
	top: 0px;
	left: 0px;
	min-height: 100%;
	background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
}

#left-panel ul {
	padding: 0px;
	margin: 0px;
	line-height: 0.5em;
}
#left-panel ul li {
	list-style: none;
}
#left-panel ul li a {
	color: #a8a8a8;
	cursor: pointer;
	padding: 10px;
	display: block;
}

#left-panel ul li.active > a {
	color: white;
}
#left-panel ul li a:hover {
	color: white;
	text-decoration: none;
}
#left-panel ul li a:active {
	text-decoration: none;
}

#left-panel ul li ul li {
	padding-left: 42px;
}
#main {
	margin-left: 220px;
	padding-top: 15px;
}
.sub-sidebar {
	width: 200px;
	position: absolute;
}
.mail-content {
	margin-left: 215px;
}
*/

/*** Doc
section {
  padding-top: 40px;
}
.hero-unit {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #020031;
  background: -moz-linear-gradient(45deg, #020031 0%, #6d3353 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353));
  background: -webkit-linear-gradient(45deg, #020031 0%,#6d3353 100%);
  background: -o-linear-gradient(45deg, #020031 0%,#6d3353 100%);
  background: -ms-linear-gradient(45deg, #020031 0%,#6d3353 100%);
  background: linear-gradient(45deg, #020031 0%,#6d3353 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
  -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
  box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
}
.hero-unit .btn, .pagination-centered .btn {
  float: none;
  font-weight: normal;
}
.hero-unit p {
  margin: 1em 0;
}
.bs-docs-social {
  margin-top: 1em;
  padding: 15px 0;
  text-align: center;
  background-color: rgba(245,245,245,0.3);
  border-top: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid rgba(221,221,221,0.3);
}
.bs-docs-social-buttons {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.bs-docs-social-buttons li {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1;
}

.modal-backdrop {
  overflow: hidden;
  height: 0;
  -webkit-transition: opacity 0.15s linear, height 0 0.2s linear;
  -moz-transition: opacity 0.15s linear, height 0 0.2s linear;
  -ms-transition: opacity 0.15s linear, height 0 0.2s linear;
  -o-transition: opacity 0.15s linear, height 0 0.2s linear;
  transition: opacity 0.15s linear, height 0 0.2s linear;
}
.modal-backdrop.in {
  height: 100%;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}


.calAlert{
  width: 595px; float: right; margin-bottom: 5px;
}

.calXBtn{
  float: right; margin-top: -5px; margin-right: -5px;
}

.calWell{
  float: left; margin-bottom: 40px;
}

.fc-event.openSesame .fc-event-skin{
  background-color: rgb(229, 229, 11);
  color: black;
}

.fc-event.customFeed .fc-event-skin{
  background-color: rgb(132, 222, 175);
  color: black;
}

.calTools{
  margin-bottom: 10px;
}
s ***/
