@import '../variables.less';
.email-module {

  .sidebar {
    position: fixed;
    min-height: 100%;
    background-color: @sidebar;
    width: 200px;
    padding: @contentPadding;
    border-right: 1px solid @light;
  }
  .sidebar {
    .header {
      font-weight: bold;
      margin-top: @contentPadding;
      display: block;
    }
    ul {
      list-style: none;
      padding: 0px;
      padding-left: @contentPadding;
      margin: 0px;
    }
    hr.divider {
      margin: 5px 0px;
    }
  }
  .email-content {
    margin-left: 200px;
    .table {
      th.search {
        input {
          font-weight: normal;
          border-radius: 0px;
          height: 28px;
        }
        button {
          border-radius: 0px;
          font-size: 13px;
          padding: 4px 6px;
        }
      }
      tr.unread {
        font-weight: bold;
      }
      tr {
        cursor: pointer;
        td {
          .attachment-icon {
            .dropdown-menu {
              right: 0;
              left: auto;
            }
          }
        }
      }
    }
  }
}
