
    <script type="text/javascript">
    var swipe = function() {
      var currentStep = 0;
      var container = $(".login-container-holder");
      var timeout = 30;
      var doStep = function(i, cls, add) {
        setTimeout(function() {
          if(add) {
            container.addClass(cls);
          } else {
            container.removeClass(cls);
          }
        }, (timeout * i + 1));
      };
      for(var i = 1; i < 12; i++) {
        doStep(i, i % 4 < 2 ? "left" : "right", i % 2 == 0);
      }
    };
    </script>
  <div class="login-bg"></div>
    <div class="container">
    <div class="row">
        <div class="col-sm-12 login-header">
            <span class="login-logo">Rocket</span>
        </div>

        <div class="col-md-4 col-md-offset-4 login-container-holder">
          <div class="login-container">
            <iframe src="sink.html" name="sink"
        style="display:none"></iframe>
              <form role="form" class="form-login" name="loginForm"
                  action="sink.html" target="sink" method="post"
                  ng-submit="login(credentials)"
                  novalidate form-autofill-fix>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><span class="fa fa-user"></span></span>
                      <input type="text" class="form-control" placeholder="Username" ng-model="credentials.username">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                      <input type="password" class="form-control" placeholder="Wachtwoord" ng-model="credentials.password">
                    </div>
                  </div>
                  <button class="btn btn-custom" type="submit">Inloggen</button>
              </form>
          </div>
        </div>
    </div>
</div>
  	  <div class="clearfix"></div>
</body>
</html>
