
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ROCKET</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <a menu-item="#/" class="iconized">
            <span class="fa fa-home"></span>
            <span class="text">Dashboard</span>
          </a>
        </li>
          <li>
            <a menu-item="#/email" class="iconized">
              <span class="fa fa-envelope"></span>
              <span class="text">Mail</span>
            </a>
          </li>
        <li>
          <a menu-item="#/contacts" class="iconized">
            <span class="fa fa-users"></span>
            <span class="text">Contacts</span>
          </a>
        </li>
        <li>
          <a menu-item="#/agenda" class="iconized">
            <span class="fa fa-calendar"></span>
            <span class="text">Agenda</span>
          </a>
        </li>
        <li>
          <a menu-item="#/documents" class="iconized">
            <span class="fa fa-file"></span>
            <span class="text">Documents</span>
          </a>
        </li>
        <li>
          <a menu-item="#/website" class="iconized">
            <span class="fa fa-globe"></span>
            <span class="text">Website</span>
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li>
          <a href="#" class="iconized">
            <span class="fa fa-wrench"></span>
            <span class="text">Settings</span>
          </a>
        </li>
        <li class="menu-shower">
          <a href="" class="iconized" ng-click="toggleMenuState()">
            <span class="fa fa-arrow-circle-down"></span>
            <span class="text">Show</span>
          </a>
        </li>
        <li class="menu-hider">
          <a href="" class="iconized" ng-click="toggleMenuState()">
            <span class="fa fa-arrow-circle-up"></span>
            <span class="text">Hide</span>
          </a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="content-wrapper menu-padding">
    <div ui-view></div>
	  <div class="clearfix"></div>
</div>
