@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(../fonts/Raleway-Light.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.form-control,
.input-group-addon { border-radius: 0; }
@import 'styles/variables.less';
@import "styles/menu.less";
@import "styles/email/email.less";
@import "styles/content.less";
@import "styles/login.less";
html {
  height: 100%;
}
body {
  min-height: 100%;
}



/*html {
	height: 100%;
	position: relative;
}
body {
	min-height: 100%;
	position: relative;
}

.login-form {
	padding: 5px;
	width: 300px;
	margin: 0 auto;
	border-radius: 7px;
	background-color: white;
	margin-top: 200px;
}

.login-form h2 {
	margin-top: 0px;
}
#header {
	position: relative;
	height: 50px;
	z-index: 100;
	background-color: #F3F3F3;
	background-image: linear-gradient(to bottom, #F3F3F3, #E2E2E2);
	line-height: 50px;
}

#header .logo {
	height: 16px;
	margin-left: 15px;
	margin-right: 7px;
}
#header .brand-name {
	font-size: 15px;
	font-height: 14px;
	font-weight: bold;
}


#left-panel {
	z-index: 90;
	padding-top: 49px;
	width: 220px;
	position: absolute;
	top: 0px;
	left: 0px;
	min-height: 100%;
	background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
}

#left-panel ul {
	padding: 0px;
	margin: 0px;
	line-height: 0.5em;
}
#left-panel ul li {
	list-style: none;
}
#left-panel ul li a {
	color: #a8a8a8;
	cursor: pointer;
	padding: 10px;
	display: block;
}

#left-panel ul li.active > a {
	color: white;
}
#left-panel ul li a:hover {
	color: white;
	text-decoration: none;
}
#left-panel ul li a:active {
	text-decoration: none;
}

#left-panel ul li ul li {
	padding-left: 42px;
}
#main {
	margin-left: 220px;
	padding-top: 15px;
}
.sub-sidebar {
	width: 200px;
	position: absolute;
}
.mail-content {
	margin-left: 215px;
}
*/
